
<?php
require_once '../pages/config.php';
?>
<marquee style="color:red; background-color:black; font-weight:bold; font-size:20px" "scrolldelay:100><face="Verdana"><font-color="#D8BFD8">***SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE ***</marquee>
<div class="container">
  <img src="/resources/zenahlogo.png" alt="Zenah logo" class="logo">
  <ul class="menu">
    <li><a href="../index.html">HOME</a></li>
    <li><a href="/pages/allproducts.html">SHOP</a></li>
    <li><a href="/pages/archives.html">ARCHIVES</a></li>
    <li><a href="/pages/contact.php">CONTACT</a></li>
  </ul>

  <ul class="svgg">
    <li> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bag"
        viewBox="0 0 16 16">
        <path
          d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
      </svg>
    </li>
    <li> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
    </li>
  </ul>
</div>


